{% extends "base.html" %}
{% comment %}
{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div>
        <h1 class="text-red-500">{{ page.title }}</h1>
        {% image page.image fill-480x320 %}
        <p>{{ page.hero_text }}</p>
        {% if page.hero_cta_link %}
            <a href="{% pageurl page.hero_cta_link %}">
                {% firstof page.hero_cta page.hero_cta_link.title %}
            </a>
        {% endif %}
    </div>

  {{ page.body|richtext }}
{% endblock content %}
{% endcomment %}
{% load wagtailcore_tags aside_tags %}

{% block content %}
<body class="text-gray-100 min-h-screen">

<div class="max-w-6xl mx-auto px-10 flex flex-col lg:flex-row gap-10 min-h-screen">

  <!-- Sidebar -->

	{% aside %}

  <main class="flex-1 lg:py-20 flex flex-col gap-16">

    <section id="about">
      <p class="font-medium uppercase text-stone-200 mb-8 flex items-center gap-3">About</p>
      <div class="flex flex-col gap-4 text-stone-200">
        <p>
						{{ page.about|richtext }}
				</p>
      </div>
    </section>

    <!-- Experience -->
		{% if page.experience %}
    <section id="experience">
      <p class="font-medium tracking-[2px] uppercase text-stone-200 mb-8 flex items-center gap-3">Experience</p>
      <div class="flex flex-col">
				{% for experience in page.experience %}
        <div class="group grid grid-cols-4 gap-6 px-2 py-7 rounded-sm border border-transparent hover:border-stone-950 hover:bg-stone-900/90 transition-all duration-200">

						<div class="font-mono text-sm font-medium text-stone-200 pt-0.5 col-span-4 sm:col-span-1">{{ experience.value.period }}</div>
          <div class="col-span-4 md:col-span-3">
							<div class="flex flex-col font-semibold text-stone-200">{{ experience.value.company }}
							<span class="font-thin text-sm text-stone-200">{{ experience.value.role }}</span>
							</div>
            <p class="text-stone-200 font-light mt-2.5">
								{{ experience.value.description }}
						</p>
						{% if experience.tags %}
            <div class="flex flex-wrap gap-1.5 mt-3.5">

								{% for tag in experience.value.tags %}
								<span class="font-medium text-sm bg-stone-950/10 text-stone-400 px-2.5 py-1 rounded border border-stone-950/70">{{ tag }}</span>
								{% endfor %}
            </div>
							{% endif %}
          </div>
        </div>

			{% endfor %}
      </div>
				<!-- Implement download resume -->
				<!--<a href="#" class="inline-flex px-6 items-center text-sm font-medium uppercase text-stone-300 mt-6 hover:text-stone-400 transition-all duration-200">View Full Resume</a>-->
    </section>
		{% endif %}

    <!-- Projects -->
		{% if page.projects %}
    <section id="projects">
      <p class="font-medium tracking-[2px] uppercase text-stone-200 mb-8 flex items-center gap-3">Projects</p>
      <div class="flex flex-col">
					{{ page.projects }}
      </div>
			<!-- Link to projects page -->
    </section>
		{% endif %}
  </main>
</div>

<script>
</script>
</body>
{% endblock content %}
