{% load wagtailcore_tags %}

<aside class="lg:w-[40%] lg:shrink-0 lg:sticky lg:top-0 lg:h-screen flex flex-col gap-8 py-20">
<div>
		<h1 class="text-5xl font-semibold tracking-tight text-stone-200">{{ name }}</h1>
		<p class="text-lg font-medium mt-3 text-stone-200">{{ role }}</p>
</div>
	<nav class="mt-14 flex flex-col gap-1.5 hidden lg:block" id="nav">
		{% for nav_link in nav_links.all %}
		<a href="#{{ nav_link.anchor }}" class="nav-item flex items-center gap-3.5 py-2 group text-left">
				<div class="nav-bar border-t-2 w-10 border-stone-500 transition-all duration-300 group-hover:w-12 group-hover:border-stone-300"></div>
			<span class="font-mono font-medium uppercase text-stone-500 transition-colors duration-200 group-hover:text-stone-300">{{ nav_link.title }}</span>
			</a>
		{% endfor %}
	</nav>

<div class="mt-4 lg:mt-auto flex gap-5 items-center pt-6">
		{% for social_link in social_links.all %}
		<a href="{{ social_link.url }}" class="inline-flex text-sm font-medium text-stone-300 hover:text-stone-400 transition-all duration-200">{{ social_link.title }}</a>
		{% endfor %}
</div>
</aside>
